/* find a way to change tab icon and name
rn its just the grey world icon and Document */
body {
    background-color: teal;
    text-align: center;
    margin: 0;
}

h1 {
    font: comic;
}

p {
    font: arial;
    size: 100;
}

#introduction {
    margin-top: 50;
    font-size: xx-large;
}