body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Ensure flex-direction is column to stack elements vertically */
    align-items: center; /* Center-align all child elements */
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding: 20px; /* Optional: Add some padding around the body */
}

header {
    text-align: center;
    width: 100%;
    margin-bottom: 20px; /* Add some space below the header */
}

section {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px; /* Add some space between sections */
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}

footer {
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items:  center;
    position: relative;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-icons {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px; /* Adjust the spacing between icons as needed */
}

.footer-icons a img {
    width: 40px; /* Adjust the size of the icons as needed */
    height: 40px;
}


.card-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    gap: 20px;
    justify-content: center; /* Center cards within the container */
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card a {
    display: block;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 15px;
    color: #555;
}

.card-content h3 {
    margin: 0 0 10px;
}

.card-content p {
    margin: 0;
    color: #555;
}
